* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  display: none;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  width: 100vw;
  height: 100vh;
}

.content {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
}

.btn {
  width: 100%;
  border-radius: 0.51rem;
  margin-bottom: 1rem;
  border: 0.05rem solid transparent;
}

.btn-primary {
  background-color: #f93854;
}

.btn-primary:hover {
  transform: scale(1.01);
  transition: 200ms linear;
}

.btn-secundary {
  background-color: #eeeeee;
  color: #555;
}

.btn-secundary:hover {
  transition: 200ms linear;
  border: 0.05rem solid #f93854;
  color: #f93854;
}

.error-message {
  color: #f93854;
  font-size: 0.9rem;
  margin-bottom: 0.93rem;
  width: 100%;
  text-align: center;
}

.loading-container-full {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.apexcharts-legend-text,
.MuiDataGrid-cellContent,
.MuiDataGrid-columnHeaderTitle,
.MuiTablePagination-selectLabel,
.MuiSelect-select,
.MuiTablePagination-displayedRows {
  color: #eeeeee !important;
}

.MuiSvgIcon-root {
  fill: #7e7e75 !important;
}

.css-1usso8h-MuiDataGrid-root .MuiDataGrid-row div {
  border-bottom: none !important;
}

.css-1usso8h-MuiDataGrid-root {
  border: none !important;
}

.css-1usso8h-MuiDataGrid-root::-webkit-scrollbar-track {
  background-color: transparent;
}
